
    <div class="footer" id="footer">
        <div class="container">
            <div class="col-md-4 agileinfo_footer_grid">
                <h4>About Us</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. <span>Excepteur sint occaecat cupidatat non proident
					sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
            </div>
            <div class="col-md-4 agileinfo_footer_grid mid-w3l nav2">
                <h4>Options</h4>
                <ul>
                    <li><a href="#home" class="scroll">Acceuil</a></li>
                    <li><a href="#about" class="scroll">Etablissements</a></li>
                    <li><a href="#services" class="scroll">Classement</a></li>
                    <li><a href="#gallery" class="scroll">Comment évaluer ?</a></li>
                    <li><a href="#team" class="scroll">Team</a></li>
                    <li><a href="#events" class="scroll">Events</a></li>
                    <li><a href="#testimonials" class="scroll">Testimonials</a></li>
                </ul>
            </div>
            <div class="col-md-4 agileinfo_footer_grid">
                <h4>Address</h4>
                <ul>
                    <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 342 Rue du Gouverneur, Cotonou</li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:tinkpon@education.com">tinkpon@education.com</a></li>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> (00 229) 66 66 66 66</li>
                </ul>
            </div>

            <div class="clearfix"> </div>
            <div class="w3agile_footer_copy">
                <p>© 2017 Tinkponwéhomè. Tous droits réservés | </p>
            </div>
        </div>
    </div>
    <!-- //footer -->




