{% extends '::general_layout.html.twig' %}

{% block body %}
    {% block fos_user_content %}
      <p>
        ghost hound
      </p>
      <p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p><p>
        ghost hound
      </p>
    {% endblock %}
{% endblock body %}
