imports:
#- { resource: config.yml }
    - { resource: parameters_prod_heroku.yml }	
    - { resource: security.yml }	
#framework:
#    validation:
#        cache: validator.mapping.cache.doctrine.apc
#    serializer:
#        cache: serializer.mapping.cache.apc

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

# FOSUser Bundle config
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: SafeSchool\UserBundle\Entity\User
    from_email:
        address:        safeschool.team@gmail.com
        sender_name:    Demo App
    template:
        engine: twig


monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "php://stderr" #%kernel.logs_dir%/%kernel.environment%.log
            level: debug
        console:
            type:  console
