{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publication d'un nouveau examen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('examen_index') }}">Retourner à la liste des examens</a>
        </li>
    </ul>
{% endblock %}
